body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #F8FAFC; /*when the time comes, use #F8FAFC plz */
  color: #313131;
}

div > h1 { /* top left hand corner, with name */
  font-size: 3rem;
  padding-top: 3.5rem;
  font-weight: 700;
  font-style: oblique;
  flex-wrap: nowrap;
  white-space: nowrap;
}

#wheel1 { /* wheel to the left */
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
    margin-top: 4.5rem;
}

#wheel2 { /* wheel to the right */
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
    margin-top: 2rem;
}

header nav p {
  cursor: pointer;
}

header .col-sm-8 > a {
  margin: 1rem 3rem 0.75rem;
  min-width: 0.5rem;
}

header .col-sm-4 {                      /*do not use > with the defaults (header, nav, p, h1, etc.)*/
  margin: 7px 20px 0px;
}

section.container > .col-sm-6 {
  min-width: 60rem;
}

a {
  color: #313131;
 }

a:hover {
  text-decoration: none;
  color: #313131;
 }

a:active {
  text-decoration: none;
  color: #313131;
 }
 
#placeholder {
  padding: 10px 10px 10px;
  margin-top: 0rem;
  font-size: 4rem;
  font-style: oblique;
}

#mobile {
  margin-top: 0rem;
  font-size: 2rem;
  font-style: oblique;
  padding: 10px 10px 10px;
}

.button {
  padding-top: 3.75rem;
  color: #313131;
}

header .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

footer > .row {
   display: flex;
   align-items: center;
}

section.container > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-
}
