@font-face {
  font-family: 'TT Moons';
  src: url(/TT-Moons-Thin-Italic-DEMO.otf);
}

@font-face {
  font-family: 'Didonesque-DisplayItalic';
  src: url('webfonts/3480CE_0_0.eot');
  src: url('webfonts/3480CE_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3480CE_0_0.woff2') format('woff2'),url('webfonts/3480CE_0_0.woff') format('woff'),url('webfonts/3480CE_0_0.ttf') format('truetype');
}
/*
* {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
*/
body {
  background-color: #FEFEFE;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.navigation {
  text-align: center;
  width: 70%;
  margin: auto;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

ul {
  margin-top: 2.5em;
  padding: 0;
}

li {
  letter-spacing: 2px;
  padding: 20px 0px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  font-weight: 300;
}

a {
  color: black;
}

a:link {
  color: black;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.logo {
  color: #000;
  font-size: 42px;
  font-family: Didonesque-DisplayItalic;
  margin-right: 5em;

}

.sidebar {
  display: inline-block;
 }

img {
  display: inline-block;
  margin: auto;
}

.img_front {
  display: block;
  margin: auto;
}

h1 {
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
  font-size: 30px;
  font-align: center;
}

h2 {
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
  font-size: 24px;
  font-align: center;
}

.title {
  margin: auto;
  width: 50%;
  padding-top: 3em;
}

.bio {
  font-weight: 200;
  font-size: 15px;
  text-align: left;
  width: 50%;
  margin: auto;
}

.centering {
  font-weight: 200;
  font-size: 15px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.pieces {
  font-style: italic;
  font-weight: 400;
}

.italics {
  font-style: italic;
  font-weight: 300;
}

.pictuas {
  display: inline-block;
}

.tearrarium {
  display: block;
  width: 50%;
 }

.biopic {
  display: block;
  width: 80%;
} 
 
.nocturnes {
  display: block;
  width: 100%;
 }

.parallel {
  display: block;
  margin: auto;
  width: 51em;
  padding: 1em;
}

.parallel > a {
  width: 900px;
  height: 600px; 
}

.resize_vert {
  width: 400px;
 }
 
.resize_hor {
  width: 804px;
  padding-bottom: 4px;
 }

 iframe {
  display: block;
  margin: 0 auto;
 
  }

@media only screen and (max-width: 800px) {
  .navigation {
      width: 100%;
  }
  
  .title {
      width: 100%;
  }
  
  .bio {
      width: 100%
  }
  
  .logo {
      margin-right: 0em;
  }
}

@media only screen and (max-width: 1400px) {

  .logo {
      margin-right: 1em;
  }
}