@font-face {
  font-family: 'Didonesque-DisplayItalic';
  src: url('webfonts/3480CE_0_0.eot');
  src: url('webfonts/3480CE_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3480CE_0_0.woff2') format('woff2'),url('webfonts/3480CE_0_0.woff') format('woff'),url('webfonts/3480CE_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Serif Display';
  src: url('../static/fonts/DMSerifDisplay-Regular.ttf')
}

@font-face {
  font-family: 'DM Serif Display Italic';
  src: url('../static/fonts/DMSerifDisplay-Italic.ttf');
}

:root {
  --slate-gray: rgb(50, 50, 50);
}

/* * {
  border-color: black;
  border-style: solid;
  border-width: 1px;
} */

h1, h2, h3 {
  font-family: DM Serif Display;
  color: var(--slate-gray);
}

h1 {
  font-size: 4rem;
  margin: 20px 0 0 30px;
}

h2 {
  margin: 0 30px;
  font-size: 2.5rem;
}

.navbar {
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: space-between;
  font-family: DM Serif Display;
  font-size: 1.5rem;
}

.navbar-content, .navbar-content-left {
  margin: 20px;
}

a {
  text-decoration: none;
  color: var(--slate-gray);
}

a:hover {
  text-decoration: underline;
}

.title {
  margin: 0 auto;
  text-align: left;
}

.content {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 200;
  margin: 35px 30px;
  width: 60%;
}

.sidebar {
  display: flex;
}

.ul-sidebar {
  list-style-type: none;
}

.image-cards-container {
  display: flex;
}

.image-card > img, .image-card > a > img {
  margin: 10px;
  border: 1px solid var(--slate-gray);
  width: 300px;
}

.spacing {
  margin: 15px;
  padding: 15px;
}

video, iframe {
  border: 1px solid black;
  margin: 10px;
}