@font-face {
  font-family: 'Didonesque-DisplayItalic';
  src: url('webfonts/3480CE_0_0.eot');
  src: url('webfonts/3480CE_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3480CE_0_0.woff2') format('woff2'),url('webfonts/3480CE_0_0.woff') format('woff'),url('webfonts/3480CE_0_0.ttf') format('truetype');
}

h2, h3 {
  font-family: Didonesque-DisplayItalic;
}

.title {
  margin: 0 auto;
  text-align: center;
}

.content {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 200;
}

.sidebar {
  display: flex;
}

.ul-sidebar {
  list-style-type: none;
}


* {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}